[user]
	email = clalimarmo@gmail.com
	name = Carlos Lalimarmo
[github]
	user = clalimarmo
	token = ff1a78d291e2f4195d3eb248206c230b
[alias]
	ci = commit
	co = checkout
	br = branch
	st = status
	stat = status
  di = diff
  diffc = diff --color=always
  sh = show
  showc = show --color=always
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[color]
  ui = true
